# Unload all devices
Property,Core,Initialize,0
# Load devices
Device,COM3,SerialManager,COM3
Device,BaslerCamera,BaslerPylon,BaslerCamera
Device,Sutter MPC,SutterMPC,Sutter MPC
Device,Sutter MPC Z stage,SutterMPC,Sutter MPC Z stage
Device,Sutter MPC XY stage,SutterMPC,Sutter MPC XY stage
# Pre-initialization properties
Property,COM3,AnswerTimeout,2000.0000
Property,COM3,BaudRate,128000
Property,COM3,DTR,Disable
Property,COM3,DataBits,8
Property,COM3,DelayBetweenCharsMs,0.0000
Property,COM3,Fast USB to Serial,Disable
Property,COM3,Handshaking,Off
Property,COM3,Parity,None
Property,COM3,StopBits,1
Property,COM3,Verbose,1
Property,BaslerCamera,SerialNumber,40082647
Property,Sutter MPC,Port,COM3
# Hub references
Parent,Sutter MPC Z stage,Sutter MPC
Parent,Sutter MPC XY stage,Sutter MPC
Property,Core,Initialize,1
# Delays
# Stage focus directions
FocusDirection,Sutter MPC Z stage,0
# Labels

# Group configurations
ConfigGroup,test,0,Sutter MPC,Step Size,1.0
ConfigGroup,test,0,BaslerCamera,Binning,4
ConfigGroup,test,0,BaslerCamera,Gain,0.0
ConfigGroup,test,NewPreset,Sutter MPC,Step Size,1.0
ConfigGroup,test,NewPreset,BaslerCamera,Binning,4
ConfigGroup,test,NewPreset,BaslerCamera,Gain,0.0000

# Pixel Size configurations

# Roles
Property,Core,Camera,BaslerCamera
Property,Core,Focus,Sutter MPC Z stage